
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px 0; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.navbar .name {
  color: white;
  font-size: 24px; 
  margin-left: 20px; 
}

.navbar ul {
  list-style: none;
  display: flex;
  margin-right: 20px; 
}

.navbar li {
  color: white;
  margin: 0 10px; 
  cursor: pointer;
}

.navbar li.active {
  font-weight: bold;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px; 
  text-align: center;
  z-index: 1000; 
}


#videobackground {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}


/* #herosection {
  position: relative;
} */
